[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytelegrambotapi = "*"
requests = "*"
bs4 = "*"
lxml = "*"
"html.parser" = "*"
psycopg2 = "*"
markdown = "*"
flask = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
